@{
    ViewBag.Title = "Dziękujemy";
}

<h2>Dziękujemy za Twoją opinię!</h2>

<p>Twoja opinia została wysłana. Dziękujemy za poświęcony czas!</p>

<a href="@Url.Action("Index", "Home")">Powrót na stronę główną</a>
